.images-container {
  display: flex;
}

.thumbnail {
  width: 152px;
  /* height: 167px; */
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  background: #f0eeed;
}

.thumbnail.active {
  border: 1px solid #000;
}

.thumbnails-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.main-image-container {
  margin-left: 14px;
}

.main-image {
  width: 444px;
  /* height: 530px; */
  border-radius: 20px;
  background: #f0eeed;
}
