.promo {
  background-color: #f2f0f1;
}

.promo_content {
  display: flex;
  column-gap: 20px;
}

.promo_title {
  font-family: 'Integral';
  font-size: 64px;
  text-transform: uppercase;
  margin: 103px 0 32px;
  width: 577px;
}

.promo_desc {
  font-size: 16px;
  width: 545px;
  margin-bottom: 32px;
}

.promo_btn {
  width: 210px;
  height: 52px;
  display: block;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  /* width: 210px; */
  height: 52px;
  border-radius: 62px;
  font-size: 16px;
  padding: 16px 0;
  margin-bottom: 48px;
}

.promo_list-wrapper {
  padding-bottom: 116px;
}

.promo_list {
  display: flex;
  justify-content: space-between;
}

.promo_list-item {
  font-size: 40px;
  padding: 16px;
}

.promo_list-item:not(:last-child) {
  border-right: 1px solid black;
}

.promo_list-item p {
  font-size: 16px;
}

.promo_img {
  display: flex;
  align-items: flex-end;
  height: 786px;
  overflow: hidden;
}
