.title{
    margin: 0 0 20px 0;
    display: flex;
    gap: 180px;
}
.title p{
    font-size: 27px;
    font-weight: 800;
}
.title img{
    width: 16px;
    height: 16px;
}
.setColors {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}

.color_btn{
    flex: 0 0 calc(20% - 10px); 
    height: 37px;
    border-radius: 60%;
    padding: 0;
}

input.green { background-color: #00C12B; }
input.red { background-color: red; }
input.yellow { background-color: yellow; }
input.orange { background-color: orange; }
input.blue { background-color: #06CAF5; }
input.darkblue { background-color: blue; }
input.purple { background-color: purple; }
input.pink { background-color: #F506A4; }
input.white { background-color: white; }
input.black { background-color: black; }