.success-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
    z-index: 20;
}
  
.success-modal p {
    font-size: 18px;
    margin-bottom: 15px;
}
  
.success-modal button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
  
.success-modal button:hover {
    background-color: #45a049;
}

.checkout-form.hidden {
    display: none;
}