.product-details-page {
    /*max-width: 1250px;*/
    margin: auto;

    .products {
        .container {
            padding: 0;
        }
    }
}

.product-info-details {
    display: flex;
    gap: 40px;
    margin-bottom: 80px;
}