.search-form {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 62px;
  padding: 12px 20px;
  width: 577px;
}

.search-form .form-control {
  width: 100%;
}

.search-icon {
  margin-right: 12px;
}
