@import './assets/fonts/fonts.css';
@import './styles/reset.css';

body {
  margin: 0;
  font-family: 'Satoshi', sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
}
